@using Evaluation.Models.Entity
@using Evaluation.Models.Utils
@using Evaluation.Models.ViewModel
@model ClassementHomeEquipeViewModel

@{
    Layout = "_Equipe";

    string order = "asc";
    if(ViewBag.order != null)
    {
        order = ViewBag.order;
    }
}

<div class="row">
    <div class="col-12 grid-margin mt-3">
        <div class="card">
            <div class="card-body">
                <form class="form-sample" asp-area="" asp-action="ResultatClassementEtape" asp-controller="Classement" method="GET" enctype="multipart/form-data">
                    <input type="hidden" value="@Model.Course.Id" name="courseId" />
                    <input type="hidden" value="@order" name="order" />
                    <div class="row">
                        <div class="col-6 mx-auto">
                            <div class="form-floating">
                                <select name="etapeId" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                                    @foreach (Etape etape in Model.Etapes)
                                    {
                                        <option value="@etape.Id">@etape.Nom (Etape @etape.RangEtape)</option>
                                    }
                                </select>
                                <label for="floatingSelectGrid">Etapes</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Voir classement étape</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if(ViewBag.ErrorMessage != null){
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Holy macaroni!</strong> @ViewBag.ErrorMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                </form>
            </div>
        </div>
    </div>
</div>